<div class="comment-respond">
                    <h3 class="comment-reply-title mb-lg-5 mb-4">
                        پیام بگذارید
                    </h3>
                    <form role="form" class="comment-form" action="/p/{{post.id}}/comments" method="POST">

                        <div class="form-group">
                            <div class="controls">
                                <textarea id="message" rows="5" placeholder="نظر*" class="form-control" required="" name="comment"></textarea>
                            </div>
                        </div>
                        <p class="text-muted">آدرس ایمیل شما منتشر نخواهد شد. فیلدهای مورد نیاز علامت گذاری شده اند *</p>
                        <div class="text-center mt-md-5">
                            <button type="submit" class="btn btn-theme">ارسال</button>
                        </div>
                    </form>
                </div>